* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
}

h1 {
  text-decoration: none;
}

h1.head {
  color: #0099ff;
}

.main-table {
  border-collapse: collapse;
  width: 100%;
}

.main-table td,
.main-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.main-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.main-table tr:hover {
  background-color: #ddd;
}

.main-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0099ff;
  color: white;
}
.btn {
  background-color: #4599d4; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  background-color: #0099ff; /* Green */
}
